/* ==========================================
   1. RESET
========================================== */
* {
    box-sizing: border-box;
}

/* ==========================================
   2. GLOBAL STYLES
========================================== */
body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    padding-top: 100px;
}

html,
body {
    overflow-x: hidden;
}

fieldset {
    width: 100%;
    border: 2px solid #1F3A5F;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: lightgray;
}

img {
    max-width: 100%;
    height: auto;
    user-select: none;
    -webkit-user-drag: none;
}

hr {
    border: 4px solid #1F3A5F;
}

button,
nav,
h1,
h2,
h3,
.logo {
    user-select: none;
}

/* ==========================================
  3. REUSABLE COMPONENTS
========================================== */

.navcontainer {
    max-width: 1200px;
    margin: auto;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;

    padding: 0 30px;
}

.service-container,
.gallery-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 50px;
}

.service-container {
    margin-bottom: 50px;
}

.map-container {
    width: 100% !important;
    max-width: 800px !important;
    height: 450px;
    aspect-ratio: 4 / 3;
    margin: 0 auto;
    padding: 0 15px;
    box-sizing: border-box;
}

.card {
    max-width: 370px;
    width: 90%;
    height: auto;
    background: #C9D7E5;
    border-left: 8px solid #1F4E8C;
    padding: 20px;
    transition: .3s ease;
    border-radius: 10px;
    margin-bottom: 18px;
}

.button-options {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 50px;
}

.form-contain {
    max-width: 50%;
    text-decoration: none;
    background-color: #C9D7E5;
    border-left: 8px solid #1F4E8C;
    padding: 15px;
    font-size: 25px;
    border-radius: 12px;
    color: #1F3A5F;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    box-shadow: 0 0 15px 5px rgba(0, 0, 0, 0.2);
    margin-left: auto;
    margin-right: auto;
}

.pill-checkboxes {
    max-width: 70%;
    text-decoration: none;
    background-color: #C9D7E5;
    padding: 15px;
    font-size: 25px;
    border-radius: 12px;
    color: #1F3A5F;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-left: auto;
    margin-right: auto;
    height: 100%;
    padding-bottom: 5px;
    border-left: 8px solid #1F4E8C;
    box-shadow: 0 0 15px 5px rgba(0, 0, 0, 0.2);
}

.form-dropdown {
    max-width: 90%;
    text-decoration: none;
    background-color: #C9D7E5;
    padding: 15px;
    font-size: 25px;
    border-radius: 12px;
    color: #1F3A5F;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border-left: 8px solid #1F4E8C;
    box-shadow: 0 0 15px 5px rgba(0, 0, 0, 0.2);
}

.last-option {
    max-width: 50%;
    text-decoration: none;
    background-color: #C9D7E5;
    padding: 15px;
    font-size: 25px;
    border-radius: 12px;
    color: #1F3A5F;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-left: auto;
    margin-right: auto;
    border-left: 8px solid #1F4E8C;
    box-shadow: 0 0 15px 5px rgba(0, 0, 0, 0.2);
}

.phone-container p,
.address-container p,
.email-account a,
.business-container p,
.facebook-account a {
    background-color: #5A8FD8;
    padding: 15px;
    border-radius: 10px;
    font-size: 22px;
    text-align: center;
    font-weight: 400;
    color: #C9DDF2;
    font-family: 'Segoe UI', sans-serif;
    box-shadow: 0 0 15px 5px rgba(0, 0, 0, 0.2);
    margin-top: 45px;
}

.address-container p {
    margin-top: 10px;
}

.email-account a,
.business-container p,
.facebook-account a {
    text-decoration: none;
    display: block;
    margin: 0 auto;
    transition: all 0.25s ease;
}

.business-container p {
    margin-top: 25px;
}

.email-account a:hover,
.facebook-account a:hover {
    transform: translateY(-8px);
}

.contact-infos h3 {
    font-size: 34px;
    color: #333;
    text-align: center;
    font-weight: 700;
    font-family: 'Segoe UI', sans-serif;
    margin: 0;
}

.email-container p,
.facebook-container p {
    font-size: 18px;
    color: #1F4E8C;
    text-align: center;
    line-height: 1.7;
    font-family: Arial, sans-serif;
    font-weight: 400;
}

.email-container p {
    font-size: 1.3rem;
    margin-top: 10px;
}

.contact-infos {
    max-width: 370px;
    width: 90%;
    height: auto;
    background: #C9D7E5;
    border-left: 8px solid #1F4E8C;
    padding: 20px;
    transition: .3s ease;
    border-radius: 10px;
    margin-bottom: 18px;
    display: block;
}

/* ==========================================
  4. TYPOGRAPHY
========================================== */

#maintitle {
    color: #1F3A5F;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    padding: 20px 0;
    text-align: center;
    border-radius: 5px;
    background: linear-gradient(to bottom, #ffffff, #eef5fc);
    box-shadow: 0 4px 12px rgba(0, 0, 0, .15);
}

.subtitle {
    color: #1F3A5F;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    padding: 15px;
    text-align: center;
    background: linear-gradient(to right,
            #f3f7fc,
            #e7eff9);
    border-radius: 5px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, .15);
}

.history {
    color: #1F3A5F;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 2.5rem;
    padding: 15px;
    text-align: center;
    background: linear-gradient(to right,
            #f3f7fc,
            #e7eff9);
    border-radius: 5px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, .15);
}

.para {
    color: #3F3F3F;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.6rem;
    padding: 31px;
    text-align: left;
    background-color: #EEF4FB;
    border-left: 8px solid #1F4E8C;
    border-radius: 5px;
    line-height: 40px;
}

.oglogo figcaption,
.proprietor figcaption,
.gallery-para {
    text-align: center;
    color: #1F3A5F;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 10px;
    font-size: 25px;
    background: linear-gradient(to right,
            #f3f7fc,
            #e7eff9);
    border-radius: 5px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, .15);
}

/* ==========================================
  5. HEADER / NAVIGATION
========================================== */

#home,
#services,
#gallery,
#location,
#contactform {
    scroll-margin-top: 90px;
}

#home h2,
#services h2,
#gallery h2,
#location h2,
#contactform h2 {
     text-align: center;
    color: #1F3A5F;
    font-size: 48px;
    margin-bottom: 35px;
}

nav{
    background:#1F4E8C;
    width: 100%;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    z-index: 1000;
    margin:0 0 25px 0;
    padding:14px 0;
    box-shadow:0 6px 15px rgba(0,0,0,.15);
}

.nav-logo {
    display: flex;
    align-items: center;
}

.nav-logo img {
    height: 55px;
    width: auto;
    display: block;

    user-select: none;
    -webkit-user-drag: none;
}

.brand {
    display: flex;
    align-items: flex;
    gap: 15px;
    margin-right: 50px;
}

.brand-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.brand-text h2 {
    color: white;
    margin: 0;
    font-size: 20px;
    font-weight: 700;
    line-height: 1;
}

.brand-text p {
    color: #dbe8ff;
    margin-top: 4px;
    margin-bottom: 0;
    font-size: 11px;
    letter-spacing: .5px;
}

.navlinks {
    display: flex;
    justify-content: center;
    gap: 25px;
    align-items: center;

    list-style: none;
    padding: 0;
    margin: 0;
}

.navlinks a {
    color:white;
    text-decoration:none;
    font-weight:700;
    padding:12px 18px;
    border-radius:8px;
    transition: transform .25s ease;
    font-size: 18px;
    letter-spacing: .3px;
}

.navlinks a:hover,
.navlinks a:focus {
    background: #5A8FD8;
    box-shadow:0 0 0 3px rgba(90,143,216,.25);
}

/* ==========================================
  6. HOME / ABOUT
========================================== */

.oglogo img {
    display: block;
    max-width: 100%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
}

.proprietor img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
    height: auto;
    width: 500px;
    border-radius: 10px;
    box-shadow: 0 12px 25px rgba(0, 0, 0, .25);
}

/* ==========================================
  7. SERVICES
========================================== */

.card h3 {
    font-size: 34px;
    color: #333;
    text-align: center;
    font-weight: 700;
    font-family: 'Segoe UI', sans-serif;
}

.card p {
    font-size: 18px;
    color: #2b2b2b;
    text-align: center;
    line-height: 1.7;
    font-family: Arial, sans-serif;
    font-weight: 400;
}

.card:hover {
    transform: translateY(-8px);
    box-shadow: 0 12px 25px rgba(0, 0, 0, .25);
    cursor: pointer;
}

.card a {
    text-decoration: none;
}

/* ==========================================
  8. GALLERY
========================================== */

.image-cards,
.image-cards figure {
    max-width: 400px;
    width: 90%;
    height: auto;
    background-color: #D9E4F2;
    padding: 0;
    margin: 0;
    overflow: hidden;
    transition: transform 0.3s ease;
    border-left: 6px solid #1F4E8C;
    border-radius: 0 0 12px 12px;
}

.image-cards:hover {
    transform: translateY(-8px) scale(1.03);
    box-shadow: 0 15px 30px rgba(0, 0, 0, .3);
    cursor: pointer;
}


.image-cards img {
    display: block;
    width: 100%;
    height: 500px;
    object-fit: cover;
}

.image-cards figcaption {
    font-size: 17px;
    padding: 18px 22px;
    line-height: 1.6;
    color: #2C2C2C;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: normal;
}

/* ==========================================
  9. LOCATION
========================================== */

.location-card {
    width: 90%;
    max-width: 500px;
    margin: 30px auto;
    background: #DCE8F5;
    border-left: 8px solid #1F4E8C;
    border-radius: 12px;
    padding: 20px;
    box-sizing: border-box;
    box-shadow: 0 8px 18px rgba(0, 0, 0, .15);
}

.location-card h3 {
    color: #1F4E8C;
    margin-bottom: 10px;
    font-family: 'Segoe UI', sans-serif;
    font-size: 20px;
}

.location-card p {
    color: #333;
    line-height: 1.6;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.store-title {
    text-align: center;
    color: #1F4E8C;
    font-size: 2rem;
    margin: 25px 0 15px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.map-container {
    width: 100%;
    max-width: 900px;
    margin: auto;
    box-sizing: border-box;
    padding: 0 15px;
}

.map-container iframe {
    width: 100%;
    max-width: 100%;
    height: 400px;
}

.real-location {
    width: 100%;
}

.real-location img {
    width: 100%;
    max-width: 375px;
    height: auto;
    display: block;
    margin: 0 auto;
    border-radius: 12px;
    box-shadow: 0 8px 18px rgba(0, 0, 0, .15);
}

/* ==========================================
  10. CONTACT FORM
========================================== */

.oglogo a:focus,
.service-container a:focus,
.card a:focus,
.submit:focus,
.reset:focus {
    outline: none;
}

input:focus,
select:focus,
.oglogo a:focus img,
.card a:focus h3,
.submit button:focus,
.reset button:focus {
    outline: none;
    border: 3px solid #1F4E8C;
    box-shadow: 0 0 0 4px rgba(31, 78, 140, .18);
    transition: .25s ease;
}

.card a:focus h3 {
    border-radius: 10px;
}

input[type="text"],
input[type="email"] {
    width: 100%;
    background-color: #5A8FD8;
    color: white;
    border: 2px solid transparent;
    border-radius: 5px;
    padding: 8px;
    font-size: 16px;
    outline: none;
}

input[type="text"]::placeholder,
input[type="email"]::placeholder,
input[type="number"]::placeholder {
    color: #f3f7fc;
    font-style: italic;
}

input[type="text"]:hover,
input[type="email"]:hover,
input[type="number"]:hover {
    border: 2px solid #1F4E8C;
}

input[type="number"] {
    width: 100%;
    display: block;
    max-width: 120px;
    background-color: #5A8FD8;
    border: 2px solid transparent;
    color: white;
    border: 2px solid transparent;
    border-radius: 5px;
    padding: 8px;
    font-size: 16px;
    outline: none;
}

.label-info {
    display: inline-block;
    width: 25%;
    margin: 5px;
    white-space: nowrap;
}

.pill-checkboxes input[type="checkbox"],
.options input[type="radio"] {
    display: none;
}

.pill-checkboxes label,
.options label {
    display: inline-block;
    padding: 9px 20px;
    color: #DCE8F5;
    background-color: #5A8FD8;
    transition: all .3s ease;
    margin: 3px;
    border-radius: 9999px;
    font-size: 1.3rem;
    cursor: pointer;
    user-select: none;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-top: 10px;
}

.pill-checkboxes fieldset {
    margin-bottom: 10px;
}

.pill-checkboxes label:hover,
.options label:hover {
    background: #6C9BD9;
    box-shadow: 0 4px 12px rgba(31, 78, 140, .15);
    transform: scale(1);
}

.pill-checkboxes label:active,
.options label:active {
    transform: scale(1.08)
}

.pill-checkboxes input[type="checkbox"]:checked+label,
.options input[type="radio"]:checked+label {
    background-color: #1F4E8C;
}

.options input[type="radio"]:checked+label {
    background-color: #1F4E8C;
    color: #DCE8F5;
}

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;

    width: 100%;
    padding: 15px;
    font-size: 20px;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    background-color: #5A8FD8;
    border-radius: 5px;
    cursor: pointer;
    border: none;
    border: 3px solid transparent;
}

.submit button {
    background-color: #1F4E8C;
    color: white;
    width: 100%;
    max-width: 300px;
    font-size: 30px;
    height: auto;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 10px;
    border: none;
    border-radius: 10px;
    transition: all 0.25s ease;
    cursor: pointer;
}

.reset button {
    background-color: #DCE8F5;
    color: #1F4E8C;
    width: 100%;
    max-width: 300px;
    font-size: 30px;
    height: auto;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 10px;
    border: none;
    border-radius: 10px;
    transition: all 0.25s ease;
    cursor: pointer;
    border: 2px solid #1F4E8C;
}

.submit button:hover {
    background-color: #2E6BB5;
    transform: translateY(-2px);
    box-shadow: 0 8px 18px rgba(31, 78, 140, .25);
}

.reset button:hover {
    background: #C9DDF2;
}

/* ==========================================
  11. CONTACT INFORMATION
========================================== */
.contact {
    overflow-wrap: break-word;
    word-wrap: break-word;
    margin-left: auto;
    margin-right: auto;
    max-width: 800px;
    width: 100%;
    height: auto;
    background: linear-gradient(to left, gray, dimgray);
    padding: 9px;
    transition: .3s ease;
    border-radius: 10px;
}


.contact a {
    display: inline-block;
    text-decoration: none;
    border-radius: 10px;
    background: linear-gradient(to right, gray, dimgray);
    padding: 9px;
    transition: transform 0.25s ease;
    box-shadow: 0 12px 25px rgba(0, 0, 0, .25);
    color: aliceblue;
    white-space: nowrap;
    margin: 10px;
}

.contact a:hover {
    transform: scale(1.05);
}

.contact p {
    font-size: 1.5rem;
    color: ghostwhite;
    text-align: center;
}

/* ==========================================
  12. FOOTER
========================================== */
footer {
    background: transparent;
}

.copyright {
    width: 100%;
    color: black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 16px;
    text-align: center;
    margin-top: 0;
    margin-bottom: 20px;
}

/* ==========================================
  13. MEDIA QUERIES
========================================== */
@media (max-width: 600px) {

    .contact {
        padding: 20px;
        font-size: 1rem;
    }

    .contact a {
        padding: 10px 15px;
        font-size: 1rem;
    }

    .subtitle {
        font-size: 0.9rem;
        line-height: 1.5;
        padding: 12px;

        .map-container {
            width: 100%;
        }

        .map-container iframe {
            width: 100%;
            height: 280px;
        }

        .real-location img {
            width: 100%;
            max-width: 100%;
            height: auto;
        }

        .location-card {
            width: 90%;
        }
    }
}

@media (max-width: 1024px) {
    .form-contain {
        max-width: 90%;
    }

    .label-info {
        display: block;
        width: auto;
    }

    input[type="text"],
    input[type="email"] {
        display: block;
    }

    input[type="number"] {
        width: 40%;
    }

    .last-option,
    .pill-checkboxes {
        max-width: 100%;
    }
}


@media (max-width: 400px) {
    .history {
        font-size: 2rem;
    }

    .card h3 {
        font-size: 1.6rem;
    }

    .card p {
        font-size: 1.1rem;
    }

    .image-cards figcaption {
        font-size: 1.1rem;
    }

    .contact p {
        font-size: 1.1rem;
    }
}